<%- contentFor('HeaderCss') %>
<!-- perticular page css -->
<!-- Full Calendar -->
<link href="public/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<%- contentFor('body') %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Campaigns</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card m-b-20">
                    <div class="card-body">

                        <h4 class="mt-0 header-title">All Campaigns</h4>
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Campaign Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i<campaign.length; i++){ %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= campaign[i].name %></td>
                                    <% if(campaign[i].status == 'Error') { %>
                                    <td style="color: rgba(219, 15, 15, 0.966); font-weight: 600;">
                                        <%= campaign[i].status %>
                                        <a href="#" data-toggle="popover" data-content="Either Sender Mail password is incorrect or the Gmail Account has not given access to less secure apps. Please Configure SMTP Settings!">
                                            <i class="mdi mdi-information"></i><span></span></a>
                                    </td>
                                    <% } else{ %>
                                    <td style="color: rgba(23, 156, 11, 0.966); font-weight: 600;">
                                        <%= campaign[i].status %></td>
                                    <% } %>
                                </tr>
                                <% } %>
                            </tbody>
                        </table> <br><br>

                        <button class="btn btn-info waves-effect waves-light" onClick="window.location.reload()"><i
                                class="mdi mdi-refresh"></i><span></span>&emsp;Refresh</button> <br><br>
                        <p>(Please wait for a few seconds after sending E-mail and click Refresh to see the status.)</p>


                    </div>
                </div>
            </div>
            <%- contentFor('FooterJs') %>
            <!--Full calendar-->
            <script>
                $(document).ready(function () {
                    $('[data-toggle="popover"]').popover();
                });
            </script>
            <script src="public/plugins/jquery-ui/jquery-ui.min.js"></script>
            <script src="public/plugins/moment/moment.js"></script>
            <script src="public/plugins/fullcalendar/js/fullcalendar.min.js"></script>
            <script src="public/assets/pages/calendar-init.js"></script>